/*
Sticky Menu
---------------------------------------------------------------------------------------------------- */

#sticky-menu {
	left: -99999px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

#sticky-menu  .menu {
	margin: 0 auto;
	max-width: 960px;
	}